{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<header class="navbar">
  <section class="navbar-section">
      {{ logo("") }}
  </section>
  
</header>
<div class="hero bg-photo bg-photo-01">
  <div class="hero-body">
    <div class="container grid-md">
      <h1>The finest</h1>
      <h2>Cat Goods</h2>
      <p>
        Wear them as you wear your cat's hair!
      </p>
    </div>
  </div>
</div>
<div class="section" style="margin-top: -100px;">
  <div class="container grid-md">
    <div class="columns">
      <div class="column">
        <div class="card">
            <div class="card-image"><img class="img-responsive" src="/images/photo-pin-cat-butt_01-solo-01.jpg" alt="OS X El Capitan"></div>
            <div class="card-header">
              <div class="card-title h5">The Cat Butt</div>
              <div class="card-subtitle text-gray">1 in. Soft Enamel Pin</div>
            </div>
            <div class="card-body">Show the world you are unashamed by proudly brandishing this cat licking its own butthole.</div>
            <div class="card-footer"><a class="btn btn-primary btn-fw btn-lg"  href="https://gum.co/mewmart-pin-cat-butt_01" target="_blank">Add to cart for <b>$12</b></a></div>
          </div>
      </div>
      <div class="column">
          <div class="card">
              <div class="card-image"><img class="img-responsive" src="/images/photo-pin-TR_01-solo-01.jpg" alt="OS X El Capitan"></div>
              <div class="card-header">
                <div class="card-title h5">The Existentialist</div>
                <div class="card-subtitle text-gray">1 in. Soft Enamel Pin</div>
              </div>
              <div class="card-body">Contemplate the infinite expanse that is outer space and find solace in solitaire.</div>
              <div class="card-footer"><a class="btn btn-primary btn-fw btn-lg" href="https://gum.co/mewmart-pin-existentialist_01" target="_blank">Add to cart for <b>$12</b></a></div>
            </div>
        </div>
    </div>
      
  </div>
</div>
<script src="https://gumroad.com/js/gumroad.js"></script>
{% endblock %}
