@import "base/fonts";
@import "spectre/spectre";

body {
    font-family: 'Bruphy';
}

.bg-photo {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    @media (max-width: 1024px) {
        background-size: 200%;
    }
}

.bg-photo-01 {
    background-image: url(../images/photo-pin-cat-butt_01-scene-01.jpg);
    background-position: bottom right;
}

.hero {
    height: 56vh;
    padding: 6rem 0;
    @media (max-width: 1024px) {
        height: 60vh;
    }
    h1 {
        font-family: 'Bruphy Condensed'!important;
        font-size: 7rem;
        font-weight: 700!important;
        text-transform: uppercase;
        color: #34344b;
        margin: 0;
    }
    h2 {
        font-family: 'Gooper'!important;
        font-size: 3rem;
        font-weight: 600!important;
        color: #ea6e46;
        font-style: italic;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1.5rem;
        line-height: 1.25;
        color: #f6a553;
    }
}

.logo {
    height: 64px;
    svg {
        height: 64px;
        path {
            fill: #828eed;
            fill: #d3bb81;
            fill: #f6a553;
            fill: #ea6e46;
        }
    }
}

.logo-transparent {
    opacity: .5;
}

.navbar {
    padding: 2rem 1rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.card {
    border: none;
    border-radius: 32px;
    box-shadow: 0 32px 32px rgba(0,0,0,.1);
    padding: 2rem;
    .card-image:first-child img {
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
    }
}

.btn {
    border-radius: 1000px;
    text-transform: uppercase;
    &.btn-primary {
        @include button-variant($color: #ea6e46);
    }
    b {
        font-weight: 500;
        color: #ffd085;
    }
}

.btn-fw {
    width: 100%;
}

.btn.btn-lg {
    height: auto;
    padding: .5rem 1rem;
}