// Bruphy Roman
@font-face {
    font-family: 'Bruphy';
    src:  url('../fonts/Bruphy2-Thin.woff2') format('woff2'),
            url('../fonts/Bruphy2-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bruphy';
    src:  url('../fonts/Bruphy2-Light.woff2') format('woff2'),
            url('../fonts/Bruphy2-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bruphy';
    src:  url('../fonts/Bruphy2-Regular.woff2') format('woff2'),
            url('../fonts/Bruphy2-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bruphy';
    src:  url('../fonts/Bruphy2-Medium.woff2') format('woff2'),
            url('../fonts/Bruphy2-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bruphy';
    src:  url('../fonts/Bruphy2-SemiBold.woff2') format('woff2'),
            url('../fonts/Bruphy2-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Bruphy';
    src:  url('../fonts/Bruphy2-Bold.woff2') format('woff2'),
            url('../fonts/Bruphy2-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}






////

@font-face {
    font-family: 'Bruphy Condensed';
    src:  url('../fonts/Bruphy2-ThinCondensed.woff2') format('woff2'),
            url('../fonts/Bruphy2-ThinCondensed.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bruphy Condensed';
    src:  url('../fonts/Bruphy2-LightCondensed.woff2') format('woff2'),
            url('../fonts/Bruphy2-LightCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bruphy Condensed';
    src:  url('../fonts/Bruphy2-RegularCondensed.woff2') format('woff2'),
            url('../fonts/Bruphy2-RegularCondensed.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bruphy Condensed';
    src:  url('../fonts/Bruphy2-MediumCondensed.woff2') format('woff2'),
            url('../fonts/Bruphy2-MediumCondensed.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bruphy Condensed';
    src:  url('../fonts/Bruphy2-SemiBoldCondensed.woff2') format('woff2'),
            url('../fonts/Bruphy2-SemiBoldCondensed.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Bruphy Condensed';
    src:  url('../fonts/Bruphy2-BoldCondensed.woff2') format('woff2'),
            url('../fonts/Bruphy2-BoldCondensed.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}





// Gooper Roman
@font-face {
    font-family: 'Gooper';
    src:  url('../fonts/Gooper0.3-Thin.woff2') format('woff2'),
            url('../fonts/Gooper0.3-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gooper';
    src:  url('../fonts/Gooper0.3-Light.woff2') format('woff2'),
            url('../fonts/Gooper0.3-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gooper';
    src:  url('../fonts/Gooper0.3-Regular.woff2') format('woff2'),
            url('../fonts/Gooper0.3-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gooper';
    src:  url('../fonts/Gooper0.3-SemiBold.woff2') format('woff2'),
            url('../fonts/Gooper0.3-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gooper';
    src:  url('../fonts/Gooper0.3-Bold.woff2') format('woff2'),
            url('../fonts/Gooper0.3-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gooper';
    src:  url('../fonts/Gooper0.3-Super.woff2') format('woff2'),
            url('../fonts/Gooper0.3-Super.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}



// Gooper Italic
@font-face {
    font-family: 'Gooper';
    src:  url('../fonts/Gooper0.3-ThinItalic.woff2') format('woff2'),
            url('../fonts/Gooper0.3-ThinItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gooper';
    src:  url('../fonts/Gooper0.3-LightItalic.woff2') format('woff2'),
            url('../fonts/Gooper0.3-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gooper';
    src:  url('../fonts/Gooper0.3-RegularItalic.woff2') format('woff2'),
            url('../fonts/Gooper0.3-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Gooper';
    src:  url('../fonts/Gooper0.3-SemiBoldItalic.woff2') format('woff2'),
            url('../fonts/Gooper0.3-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gooper';
    src:  url('../fonts/Gooper0.3-BoldItalic.woff2') format('woff2'),
            url('../fonts/Gooper0.3-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Gooper';
    src:  url('../fonts/Gooper0.3-SuperItalic.woff2') format('woff2'),
            url('../fonts/Gooper0.3-SuperItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}